USE [master]
GO
/****** Object:  Database [DemoTrabajadores]    Script Date: 1/01/2024 20:11:17 ******/
CREATE DATABASE [DemoTrabajadores]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'DemoTrabajadores', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\DemoTrabajadores.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'DemoTrabajadores_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\DemoTrabajadores_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [DemoTrabajadores].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [DemoTrabajadores]
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 1/01/2024 20:11:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Departamento]    Script Date: 1/01/2024 20:11:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Departamento](
	[IdDepartamento] [int] IDENTITY(1,1) NOT NULL,
	[NombreDepartamento] [varchar](60) NULL,
 CONSTRAINT [PK_Departamento] PRIMARY KEY CLUSTERED 
(
	[IdDepartamento] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Distrito]    Script Date: 1/01/2024 20:11:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Distrito](
	[IdDistrito] [int] IDENTITY(1,1) NOT NULL,
	[IdProvincia] [int] NOT NULL,
	[NombreDistrito] [varchar](60) NULL,
 CONSTRAINT [PK_Distrito] PRIMARY KEY CLUSTERED 
(
	[IdDistrito] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Provincia]    Script Date: 1/01/2024 20:11:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Provincia](
	[IdProvincia] [int] IDENTITY(1,1) NOT NULL,
	[IdDepartamento] [int] NOT NULL,
	[NombreProvincia] [varchar](60) NULL,
 CONSTRAINT [PK_Provincia] PRIMARY KEY CLUSTERED 
(
	[IdProvincia] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Trabajador]    Script Date: 1/01/2024 20:11:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Trabajador](
	[IdTrabajador] [int] IDENTITY(1,1) NOT NULL,
	[TipoDocumento] [varchar](10) NULL,
	[NroDocumento] [varchar](50) NULL,
	[Nombres] [varchar](250) NULL,
	[Sexo] [varchar](1) NULL,
	[IdDistrito] [int] NULL,
 CONSTRAINT [PK_Trabajador] PRIMARY KEY CLUSTERED 
(
	[IdTrabajador] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20231230165956_CreacionTablas', N'8.0.0')
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20231231025849_cambiarLongitudTipoDocumento', N'8.0.0')
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20231231054018_actualizacionRelaciones', N'8.0.0')
GO
SET IDENTITY_INSERT [dbo].[Departamento] ON 

INSERT [dbo].[Departamento] ([IdDepartamento], [NombreDepartamento]) VALUES (1, N'Amazonas')
INSERT [dbo].[Departamento] ([IdDepartamento], [NombreDepartamento]) VALUES (2, N'Áncash')
INSERT [dbo].[Departamento] ([IdDepartamento], [NombreDepartamento]) VALUES (3, N'Apurímac')
SET IDENTITY_INSERT [dbo].[Departamento] OFF
GO
SET IDENTITY_INSERT [dbo].[Distrito] ON 

INSERT [dbo].[Distrito] ([IdDistrito], [IdProvincia], [NombreDistrito]) VALUES (1, 1, N'Chuquibamba')
INSERT [dbo].[Distrito] ([IdDistrito], [IdProvincia], [NombreDistrito]) VALUES (2, 5, N'Santo Tomas')
INSERT [dbo].[Distrito] ([IdDistrito], [IdProvincia], [NombreDistrito]) VALUES (3, 5, N'Cocabamba')
GO
SET IDENTITY_INSERT [dbo].[Distrito] OFF
GO
SET IDENTITY_INSERT [dbo].[Provincia] ON 

INSERT [dbo].[Provincia] ([IdProvincia], [IdDepartamento], [NombreProvincia]) VALUES (1, 1, N'Chachapoyas')
INSERT [dbo].[Provincia] ([IdProvincia], [IdDepartamento], [NombreProvincia]) VALUES (2, 1, N'Bagua')
INSERT [dbo].[Provincia] ([IdProvincia], [IdDepartamento], [NombreProvincia]) VALUES (3, 1, N'Bongara')
GO
SET IDENTITY_INSERT [dbo].[Provincia] OFF
GO
SET IDENTITY_INSERT [dbo].[Trabajador] ON 

INSERT [dbo].[Trabajador] ([IdTrabajador], [TipoDocumento], [NroDocumento], [Nombres], [Sexo], [IdDistrito]) VALUES (28, N'DNI', N'60871996', N'Bruno Alejandro Sandoval Pinedo', N'M', 138)
INSERT [dbo].[Trabajador] ([IdTrabajador], [TipoDocumento], [NroDocumento], [Nombres], [Sexo], [IdDistrito]) VALUES (29, N'DNI', N'21312321', N'Diego Alonso Chavez Alvarez', N'M', 1372)
INSERT [dbo].[Trabajador] ([IdTrabajador], [TipoDocumento], [NroDocumento], [Nombres], [Sexo], [IdDistrito]) VALUES (30, N'DNI', N'43422432', N'Alberto Rodriguez Jimenez', N'M', 327)
SET IDENTITY_INSERT [dbo].[Trabajador] OFF
GO
/****** Object:  Index [IX_Distrito_IdProvincia]    Script Date: 1/01/2024 20:11:18 ******/
CREATE NONCLUSTERED INDEX [IX_Distrito_IdProvincia] ON [dbo].[Distrito]
(
	[IdProvincia] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Provincia_IdDepartamento]    Script Date: 1/01/2024 20:11:18 ******/
CREATE NONCLUSTERED INDEX [IX_Provincia_IdDepartamento] ON [dbo].[Provincia]
(
	[IdDepartamento] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Trabajador_IdDistrito]    Script Date: 1/01/2024 20:11:18 ******/
CREATE NONCLUSTERED INDEX [IX_Trabajador_IdDistrito] ON [dbo].[Trabajador]
(
	[IdDistrito] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Distrito]  WITH NOCHECK ADD  CONSTRAINT [FK_Distrito_Provincia_IdProvincia] FOREIGN KEY([IdProvincia])
REFERENCES [dbo].[Provincia] ([IdProvincia])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Distrito] CHECK CONSTRAINT [FK_Distrito_Provincia_IdProvincia]
GO
ALTER TABLE [dbo].[Provincia]  WITH CHECK ADD  CONSTRAINT [FK_Provincia_Departamento_IdDepartamento] FOREIGN KEY([IdDepartamento])
REFERENCES [dbo].[Departamento] ([IdDepartamento])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Provincia] CHECK CONSTRAINT [FK_Provincia_Departamento_IdDepartamento]
GO
ALTER TABLE [dbo].[Trabajador]  WITH CHECK ADD  CONSTRAINT [FK_Trabajador_Distrito_IdDistrito] FOREIGN KEY([IdDistrito])
REFERENCES [dbo].[Distrito] ([IdDistrito])
GO
ALTER TABLE [dbo].[Trabajador] CHECK CONSTRAINT [FK_Trabajador_Distrito_IdDistrito]
GO
/****** Object:  StoredProcedure [dbo].[ObtenerTrabajadoresConDetalle]    Script Date: 1/01/2024 20:11:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[ObtenerTrabajadoresConDetalle]
AS
BEGIN
    SELECT
        T.*,
        D.NombreDistrito,
        P.NombreProvincia,
        DP.NombreDepartamento
    FROM
        Trabajador T
    INNER JOIN
        Distrito D ON T.IdDistrito = D.IdDistrito
    INNER JOIN
        Provincia P ON D.IdProvincia = P.IdProvincia
    INNER JOIN
        Departamento DP ON P.IdDepartamento = DP.IdDepartamento
END
GO
/****** Object:  StoredProcedure [dbo].[ObtenerTrabajadoresPorSexo]    Script Date: 1/01/2024 20:11:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ObtenerTrabajadoresPorSexo]
    @Sexo NVARCHAR(1)
AS
BEGIN
    SELECT
        T.*,
        D.NombreDistrito,
        P.NombreProvincia,
        DP.NombreDepartamento
    FROM
        Trabajador T
    INNER JOIN
        Distrito D ON T.IdDistrito = D.IdDistrito
    INNER JOIN
        Provincia P ON D.IdProvincia = P.IdProvincia
    INNER JOIN
        Departamento DP ON P.IdDepartamento = DP.IdDepartamento
    WHERE
        T.Sexo = @Sexo
END
GO
USE [master]
GO
